.image-size{
    width: 350px;
    height: 250px;
    margin-left: 1200px;
    
}

.margin-left{
margin-left: 180px;

}
.color-projects{
    color:#90418F;
}
.color-projects-1{
    color:#9D5CF6
}
.img-height-1{
height: 200px;
border-radius: 100px;
}