.notFound{
    width: 380px !important;
     height: 600px !important;
}
/* @media only screen and (min-width:300px) and(max-width:991px) {
    .notFound{
        width: 380px !important;
        height: 400px !important;
     
     
    }
} */